    <ul class="accordion" data-accordion>
      <% @categories.each do |category| %>
       <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><%= category.category_name %></a>
          <% SubCategory.where(category_id: category.id).each do |sub_category| %>
            <div class="accordion-content" data-tab-content >
              <p><%= sub_category.sub_category_name %></p>
              <a href="#">Nowhere to Go</a>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
